[BASIC]
good-names=_,id,default_app_config

[DESIGN]
min-public-methods=0

[MASTER]
ignore=manage.py,migrations,mrbweb

[MESSAGES CONTROL]
# Disable the following PyLint messages:
#
# R0204 - redefined-variable-type

disable=R0204

[REPORTS]
output-format=text
reports=yes
